<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="tests">
    <test preserve-order="true" name="Empty Cart" enabled="false">
       <groups>
           <run>
               <include name="Empty cart on first visit"/>
           </run>
       </groups>
        <classes>
            <class name="org.example.cart.CartTests"/>
        </classes>
    </test>
    <test preserve-order="true" name="Catalog" enabled="true">
        <groups>
            <run>
                <include name="Catalog tests"/>
            </run>
        </groups>
        <classes>
            <class name="org.example.catalog.CatalogTests"/>
        </classes>
    </test>
    <test preserve-order="true" name="Catalog one test method" enabled="false">
        <groups>
            <run>
                <include name="Catalog tests"/>
            </run>
        </groups>
        <classes>
            <class name="org.example.catalog.CatalogTests">
                <methods>
                    <include name="testCategoryItemsCount"></include>
                </methods>
            </class>
        </classes>
    </test>
    <test preserve-order="true" name="Test" enabled="false">
        <classes>
            <class name="org.example.catalog.CatalogTests">
                <methods>
                    <include name="testEmptyCartIconOverlayAndPrice"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>